<!DOCTYPE html>
<html>
  <head>
    <title>Course Details</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
  </head>
  <body>
    <h1>Course Details</h1>
    <div>
      <h2>Course Code: <%= course.course_code %></h2>
      <h3>Course Name: <%= course.course_name %></h3>
      <h3>Reverse Prerequisites:</h3>
      <ul>
        <% course.course_reverse_prerequisites.forEach(function(prerequisite) { %>
          <li><%= prerequisite %></li>
        <% }); %>
      </ul>
    </div>
  </body>
</html>
